/* App.css */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* css styles begins */

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

/* global styles */

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 7rem;
  width: 62%;
  margin-bottom: 5%;
  text-align: center;
  /* text-shadow: 0 .5rem 1rem gray; */
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

a{
  color: #2557a7;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}

button{
  background-color: #164081;
  color: white;
  margin: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.2s ease;
}

form input{
  border: none;
  border-radius: 10px;
  border: 1px solid black;
}

form input:required{
  box-shadow: none;
}

form input:focus{
  box-shadow: 0 .5rem 1rem lightgrey;
  outline: none;
}

button:hover,
button:focus{
    box-shadow: 0 .5rem 1rem gray;
    outline: none;
}

button a{
  color: white;
  font-size: 1.8rem;
}

/* Header styles */

.app-header {
  min-height: 83vh;
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20vh;
}

/* navbar component */

.navbar{
  height: 65px;
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navbar a{
  color: white;
}

.navbar p{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px ;
  margin-left: 20px;
  transition: all 0.2s;
}

.navbar p:hover,
.navbar p:focus{
  text-shadow: 0 1rem 1rem lightgray;
}

/* .navbar p:nth-of-type(1){
  margin-left: 20px;
} */

/* .navbar p:nth-of-type(2){
  margin-right: 20px;
  padding-top: 3px;
  font-size: 1.7rem;
} */

.navbar img{
  position: absolute;
  height: 40px;
  width: 20px;
  top: 1rem;
  left: 16rem;
}

.navbar button{
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 43px;
  margin: 12px 20px 0 0;
  font-size: 1.7rem;
}

.navbar button:hover,
.navbar button:focus{
  box-shadow: 0 .5rem 1rem lightgray;
}

/* display jobs component styles */

main{
  margin-bottom: 30px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.error-message{
  display: flex;
  justify-content: center;
  animation: fade-in 1.2s;
  text-align: center;
}

.error-message p{
  background-color: #fff0ef;
  padding: 10px;
}

.loadingBar{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.loadingBar div{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.loadingBar div:nth-child(1){
  animation: loadingDiv1 0.7s infinite;
}

.loadingBar div:nth-child(2){
  animation: loadingDiv2 0.7s infinite;
}

.loadingBar div:nth-child(3){
  animation: loadingDiv3 0.7s infinite;
}

.display-message{
  width: 80%;
  font-style: italic;
  padding-left: 5px;
}

.display-jobs{
  width: 80%;
  background-color:#f3f2f1;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  animation: fade-in 1.2s;
}

.display-jobs:hover,
.display-jobs:focus{
    box-shadow: 0 .5rem 1rem lightgrey;
}

.display-jobs:hover h2 a,
.display-jobs:focus h2 a{
  text-decoration: underline;
}

.display-jobs div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
}

.display-jobs img{
  height: 25px;
  width: 25px;
}

.display-jobs h2 a{
  font-size: 2rem;
}

.display-jobs h3{
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.display-jobs p{
  line-height: 1.3;
}

.display-jobs p a:hover,
.display-jobs p a:focus{
  text-decoration: underline;
}

span{
  font-size: 1.3rem;
  color: grey;
  font-weight: bold;
}

.apply-save{
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin-top: 10px;
}

.apply-save button{
  margin-right: 10px;
  padding: 10px 20px;
  /* width: 120px; */
}

.apply-save button a{
  font-size: 1.6rem;
}

.apply-save p{
  padding-bottom: 3px;
}

.is-saved{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  background-color: #e3e3e3;
  padding: 15px 10px;
}

.apply-save p,
.is-saved a{
  color: #164081;
  font-size: 1.6rem;
  transition: all 0.5s ease;
  font-weight: bold;
}

.apply-save p:hover,
.apply-save p:focus,
.is-saved p a:hover,
.is-saved p a:focus{
  text-shadow: 0 .5rem 1rem gray;
  text-decoration: none;
}

/* .is-saved a:hover{
  transition: all 0.5s ease;
} */

/* form component styles */

.form-container{
  width: 100%;
}

.form-container form{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.form-container label{
  padding: 10px 0;
  font-weight: bold;
}

.form-container label:nth-of-type(2){
  margin-left: 10px;
}

.form-container form input,
.form-container form button{
  margin-left: 10px;
  padding: 10px;
}

.form-container form button{
  width: 150px;
}

.form-container form input{
    width: 20%;
    font-size: 1.5rem;
    background-color: transparent;
}

/* footer component styles */
footer{
  color: black;
  text-align: center;
}

footer p a{
    font-size: 1.3rem;
    font-weight: bold;
}

footer a{
  color: black;
  transition: all 0.5s ease;
}

footer a:hover,
footer a:focus{
  text-shadow: 0 .5rem 1rem gray;
}

footer img{
  width: 35px;
  height: 35px;
  padding: 5px 5px 0;
  transition: all 0.4s;
}

footer img:hover,
footer img:focus{
  box-shadow: 0 .5rem 1rem gray;
}

/* modal styles */
.modal{
  height: 50vh;
  width: 40vw;
  background-color: #faf9f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 25%;
  left: 30%;
  opacity: 0.9;
  animation: fade-in 1s;
}

.modal-backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

.modal-welcome img{
  height: 25px;
  width: 25px;
}

.modal form,
.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal form p,
.modal form button,
.sign-in button{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.modal form p{
  font-size: 2rem;
  font-weight: bold;
  width: 60%;
}

.modal form input{
  width: 40%;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

.modal form input:focus{
  box-shadow: 0 .5rem 1rem grey;
}

.modal form button,
.sign-in button{
  width: 25%;
  margin-top: 20px;
  font-size: 1.5rem;
}

.sign-in p{
  margin-top: 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
}

/* savedJobs component styles */

.saved-jobs-container{
  margin-top: -68vh;
  min-height: 73vh;
  border: 0.2px solid black;
  border-radius: 10px;
  padding:20px 0 ;
  box-shadow: 0 .5rem 0.5rem lightgray;
}

.saved-jobs{
  display: flex;
  justify-content: center;
}

/* animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingDiv1 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loadingDiv2 {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loadingDiv3 {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}

/* media queries */

@media (max-width: 1152px){

  .modal form p{
    width: 70%;
  }

  .modal form input{
    width: 45%;
  }

  .sign-in button{
    width: 30%;
  }
}

@media (max-width:1000px){

  .app-section{
    padding-top: 15vh;
  }

  h1{
    width: 80%;
  }

  .modal{
    width: 50vw;
    left: 25%;
  }

  .modal form p{
    font-size: 1.9rem;
  }

  main{
    margin-top: 50px;
  }

  .display-jobs,
  .display-message{
    width: 100%;
  }

  .form-container form{
    flex-direction: column;
    align-items: center;
  }

  .form-container form input,
  .form-container form label,
  .form-container form button{
    width: 50%;
  }

  .form-container form input{
    padding: 15px 10px;
  }

  .form-container form label:first-child{
    margin-left: 10px;
  }
  
  .form-container form button{
    margin-top: 15px;
  }

}

@media (max-width:775px){

  h1{
    width: 95%;
    font-size: 6rem;
  }

  .modal{
    width: 70vw;
    left: 15%;
  }

  .form-container form input,
  .form-container form label,
  .form-container form button{
    width: 70%;
  }
}

@media (max-width:575px) {
  h1{
    font-size: 5rem;
  }

  .modal{
    width: 80vw;
    left: 10%;
  }

  .modal form p{
    width: 75%;
  }

  .modal form input{
    width: 50%;
  }

  .modal form button{
    width: 30%;
  }

  .sign-in button{
    width: 40%;
  }

  .navbar p{
    margin-left: 10px;
  }

  .navbar img{
    left: 15rem;
  }

  /*.navbar p:nth-of-type(2){
    margin-right: 10px;
    margin-top: 22px;
    font-size: 1.5rem;
  } */

  .navbar button{
    margin-right: 10px;
    font-size: 1.5rem;
  }

  .wrapper{
    width: 90%;
  }
}

@media (max-width:465px) {

  h1{
    font-size:4rem;
  }

  .modal{
    width: 90vw;
    left: 5%;
  }

  .modal form p{
    width: 80%;
  }

  .modal form input{
    width: 60%;
  }

  .modal form button{
    width: 35%;
  }

}

@media(max-width:410px) {
  .navbar button{
    visibility: hidden;
  }

  .navbar p{
    margin-left: 20px;
  }

  .navbar img{
    left: 16rem;
  }

}

@media(max-width:375px) {

  /* .navbar p:nth-of-type(2){
    visibility: hidden;
  } */

  h1{
    font-size: 3.4rem;
  }

}

