/* App.css */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* css styles begins */

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* global styles */

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 7rem;
  width: 62%;
  margin-bottom: 5%;
  text-align: center;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

a{
  color: #2557a7;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}

button{
  background-color: #164081;
  color: white;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.2s ease;
}

button:hover,
button:focus{
    box-shadow: 0 .5rem 1rem gray;
    outline: none;
}

button a{
  color: white;
  font-size: 1.8rem;
}

/* Header styles */

.app-header {
  min-height: 86vh;
}

/* header::before {
  content: "";
  background-image: url('./background.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
} */

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20vh;
}

/* navbar component */

.navbar{
  height: 65px;
  background-color: black;
  color: white;
  position: relative;
}

.navbar p{
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 0 0 20px;
}

.navbar img{
  position: absolute;
  height: 40px;
  width: 20px;
  top: 1rem;
  left: 16rem;
}

/* display jobs component styles */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.error-message{
  text-align: center;
}

.display-jobs{
  width: 80%;
  background-color:#f3f2f1;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.display-jobs:hover,
.display-jobs:focus{
    box-shadow: 0 .5rem 1rem lightgrey;
}

.display-jobs:hover h2 a,
.display-jobs:focus h2 a{
  text-decoration: underline;
}

.display-jobs div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
}

.display-jobs img{
  height: 25px;
  width: 25px;
}

.display-jobs h2 a{
  font-size: 2rem;
}

.display-jobs h3{
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.display-jobs p a:hover,
.display-jobs p a:focus{
  text-decoration: underline;
}

span{
  font-size: 1.3rem;
  color: grey;
  font-weight: bold;
}

.display-jobs button{
  margin-top: 10px;
  padding: 10px;
}

.display-error{
  position: absolute;
  bottom: 20%;
  padding: 10px;
  background-color: #fff0ef;
}

/* form component styles */

.form-container{
  width: 100%;
}

form{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  /* margin-bottom: 5%; */
}

form label{
  padding: 10px 0;
  font-weight: bold;
}

form label:nth-of-type(2){
  margin-left: 10px;
}

form input,
form button{
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}

form button{
  width: 150px;
}

form input{
    width: 20%;
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: transparent;
}

form input:focus{
  box-shadow: 0 .5rem 1rem lightgrey;
  outline: none;
}

/* footer component styles */
footer{
  color: black;
  text-align: center;
}

footer p a{
    font-size: 1.3rem;
    font-weight: bold;
}

footer a{
  color: black;
  transition: all 0.5s ease;
}

footer a:hover,
footer a:focus{
  text-shadow: 0 .5rem 1rem gray;
}

footer img{
  width: 35px;
  height: 35px;
  padding: 5px 5px 0;
  transition: all 0.4s;
}

footer img:hover{
  box-shadow: 0 .5rem 1rem gray;
}

/* modal styles */
.modal-container{
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.modal-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* media queries */

@media (max-width:1000px){

  .app-section{
    padding-top: 15vh;
  }

  h1{
    width: 80%;
  }

  main{
    margin-top: 50px;
  }

  .display-jobs{
    width: 100%;
  }

  form{
    flex-direction: column;
    align-items: center;
  }

  form input,
  form label,
  form button{
    width: 50%;
  }

  form input{
    padding: 15px 10px;
  }

  form label:first-child{
    margin-left: 10px;
  }
  
  form button{
    margin-top: 15px;
  }

}

@media (max-width:775px){

  h1{
    width: 95%;
    font-size: 6rem;
  }

  form input,
  form label,
  form button{
    width: 70%;
  }
}

@media (max-width:575px) {
  h1{
    font-size: 5rem;
  }

  .wrapper{
    width: 90%;
  }
}

@media (max-width:465px) {
  h1{font-size:4rem;

  }
}